{% extends "base.html" %}

{% block title %}Documentation{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>API Documentation</h1>

    <div class="mb-3">
        <label for="treatment-url" class="form-label">Treatments Call</label>
        <div class="input-group">
            <input type="text" class="form-control" id="treatment-url" value="Acrophobia" placeholder="Enter phobia">
            <button class="btn btn-primary" type="button" onclick="fetchPhobiaTreatments()">Fetch Treatments</button>
        </div>
        <p class="form-text text-muted">http://127.0.0.1:5000/treatments/{Phobia}</p>
    </div>

    <div id="treatments-data">
        <ul id="treatments-list"></ul>
    </div>

    <div class="mb-3">
        <label for="phobia-url" class="form-label">Symptoms Call</label>
        <div class="input-group">
            <input type="text" class="form-control" id="phobia-url" value="Acrophobia" placeholder="Enter phobia">
            <button class="btn btn-primary" type="button" onclick="fetchPhobiaSymptoms()">Fetch Symptoms</button>
        </div>
        <p class="form-text text-muted">http://127.0.0.1:5000/symptoms/{Phobia}</p>
    </div>

    <div id="api-data">
        <ul id="symptoms-list"></ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Note: You don't need to re-import jQuery here because it's in base.html
    function fetchPhobiaSymptoms() {
        var phobiaUrl = $('#phobia-url').val();
        $.get('/symptoms/' + phobiaUrl, function(data) {
            var symptoms = JSON.parse(data);
            var symptomsList = $('#symptoms-list');
            symptomsList.empty();
            if (symptoms.length > 0) {
                for (var i = 0; i < symptoms.length; i++) {
                    symptomsList.append($('<li>').text(symptoms[i]));
                }
            } else {
                symptomsList.append($('<li>').text('No symptoms found.'));
            }
        });
    }

    function fetchPhobiaTreatments() {
        var phobiaUrl = $('#treatment-url').val();
        $.get('/treatments/' + phobiaUrl, function(data) {
            var treatments = JSON.parse(data);
            var treatmentsList = $('#treatments-list');
            treatmentsList.empty();
            if (treatments.length > 0) {
                for (var i = 0; i < treatments.length; i++) {
                    treatmentsList.append($('<li>').text(treatments[i]));
                }
            } else {
                treatmentsList.append($('<li>').text('No treatments found.'));
            }
        });
    }
</script>
{% endblock %}